@use "../utilities/variables";
@use "../utilities/extend";

.telas-button {
  @extend %button;
  border: 1px solid variables.$pure-black;
  background-color: variables.$fondo-trans;

  &:hover {
    background-color: variables.$color-principal;
    }
}

.btn-mio {
  @extend %button;
  --bs-btn-padding-y: 10px;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 300;
  --bs-btn-line-height: 1.5;
  color: variables.$color-parrafo;
  background-color: #ead1ce;
  border: 1px solid variables.$color-texto;
  margin-left: 16px;
}

.redes-button {
  @extend %button;
  border: 1px solid rgb(250, 234, 234);
  background-color: variables.$fondo-trans;
}
