@use "../utilities/variables";

form {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  background: #f2e0c9;
  padding: 20px;
  border-radius: 8px;
  label {
  text-align: right;
  padding-right: 10px;
  line-height: 2;
  }
  input textarea {
  width: 100%;
  padding: variables.$padding;
  font-size: 1rem;
  }
  textarea {
  resize: vertical;
  min-height: 100px;
  }
}

@media (max-width: 450px) {
  form {
     grid-template-columns: 1fr;
  }

label {
     text-align: left;
     padding: 0;
  }
}
