$color-fondo: #deb887;
$color-borde: rgb(143, 140, 140);
$color-texto: #696969;
$color-principal: #d4133a;
$padding: 8px;
$p-size: 24px;
$color-parrafo: #000000;
$p-margin: 20px;
$pure-black: black;
$fondo-trans: transparent;